# Assignment 6th Feb

## Q1. Create a function which will take a list as an argument and return the product of all the numbers after creating a flat list. Use the below-given list as an argument for your function.

`list1 = [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, {1:34, "key2": [55, 67, 78, 89], 4: (45,
22, 61, 34)}, [56, 'data science'], 'Machine Learning']`

In [13]:
list1 = [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, 
         {1:34, "key2": [55, 67, 78, 89], 4: (45, 22, 61, 34)}, [56, 'data science'], 'Machine Learning']

In [14]:
list1

[1,
 2,
 3,
 4,
 [44, 55, 66, True],
 False,
 (34, 56, 78, 89, 34),
 {1, 2, 3},
 {1: 34, 'key2': [55, 67, 78, 89], 4: (45, 22, 61, 34)},
 [56, 'data science'],
 'Machine Learning']

In [5]:
type(list1)

list

In [6]:
def flatten_and_multiply(lst):
    def flatten(l):
        for el in l:
            if isinstance(el, (list, tuple, set)):
                yield from flatten(el)
            else:
                yield el

    product = 1
    for i in flatten(lst):
        if isinstance(i, int):
            product *= i
    return product

In [15]:
flatten_and_multiply(list1)

0

As `List1` contains `False`, which is treated as `0`. The Product output is Zero.

## Q2. Write a python program for encrypting a message sent to you by your friend. The logic of encryption should be such that, for a the output should be z. For b, the output should be y. For c, the output should be x respectively. Also, the whitespace should be replaced with a dollar sign. Keep the punctuation marks unchanged.
Input Sentence: I want to become a Data Scientist.

In [18]:
def encrypt(text):
    t=text.lower()
    encrypt_dict = {
        'a': 'z', 'b': 'y', 'c': 'x', 'd': 'w', 'e': 'v',
        'f': 'u', 'g': 't', 'h': 's', 'i': 'r', 'j': 'q',
        'k': 'p', 'l': 'o', 'm': 'n', 'n': 'm', 'o': 'l',
        'p': 'k', 'q': 'j', 'r': 'i', 's': 'h', 't': 'g',
        'u': 'f', 'v': 'e', 'w': 'd', 'x': 'c', 'y': 'b',
        'z': 'a', ' ': '$'
    }
    encrypted_text = ''
    for char in t:
        if char in encrypt_dict:
            encrypted_text += encrypt_dict[char]
        else:
            encrypted_text += char
    return encrypted_text

In [19]:
text = "I want to become a Data Scientist."
encrypt(text)

'r$dzmg$gl$yvxlnv$z$wzgz$hxrvmgrhg.'

---

Created By -> Debabrata