# Assignment 16th Feb

## Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of data that can be accessed, managed, and updated easily. It can be a digital collection of data or information that can be structured or unstructured, and can be used for various purposes such as storing information about customers, products, transactions, and more.

SQL (Structured Query Language) and NoSQL (Not only SQL) are two different types of database management systems that differ in their data storage and retrieval methods. Here are some key differences between SQL and NoSQL databases:

- Data Model:
SQL databases are based on the relational data model, which means that the data is stored in tables with predefined schema, and the relationships between the tables are defined through foreign keys. NoSQL databases, on the other hand, have a more flexible data model that can be document-oriented, key-value, graph-based, or column-family based.

- Scalability:
SQL databases are vertically scalable, which means that they can handle an increase in workload by adding more processing power, memory, or storage capacity to the server. NoSQL databases, on the other hand, are horizontally scalable, which means that they can handle an increase in workload by adding more servers to the database cluster.

- Consistency:
SQL databases are known for their strong consistency, which means that the data in the database is always in a valid state, and any transaction that modifies the data will be either completed or rolled back. NoSQL databases, on the other hand, may sacrifice consistency for scalability and partition tolerance, which means that there may be some eventual consistency issues.

- Query Language:
SQL databases use SQL as the standard language for querying and manipulating the data, which is a declarative language that specifies what data should be retrieved or modified. NoSQL databases use different query languages, depending on the type of database. For example, MongoDB uses a document-based query language, while Cassandra uses a CQL (Cassandra Query Language).

Overall, the choice between SQL and NoSQL databases depends on the specific needs of your application. SQL databases are better suited for applications that require strong consistency, ACID transactions, and a fixed data schema. NoSQL databases, on the other hand, are better suited for applications that require high scalability, flexible data models, and eventual consistency.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

- DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used to define, modify, and delete database objects such as tables, indexes, and views. Here are some common DDL statements and their uses:

1. `CREATE:`
    The CREATE statement is used to create a new database object, such as a table, view, or index. For example, to create a new table named "customers" with columns for "id", "name", and "email", you could use the following CREATE statement:

CREATE TABLE customers (
  id INT PRIMARY KEY,
  name VARCHAR(50),
  email VARCHAR(50)
);

2. `DROP:`
The DROP statement is used to delete a database object, such as a table, view, or index. For example, to delete the "customers" table created in the previous example, you could use the following DROP statement:

DROP TABLE customers;

3. `ALTER:`
The ALTER statement is used to modify the structure of an existing database object, such as a table or view. For example, to add a new column named "phone" to the "customers" table created in the first example, you could use the following ALTER statement:

ALTER TABLE customers ADD phone VARCHAR(20);

4. `TRUNCATE:`
The TRUNCATE statement is used to delete all data from a table without deleting the table itself. For example, to delete all data from the "customers" table created in the first example, you could use the following TRUNCATE statement:

TRUNCATE TABLE customers;

In summary, DDL statements are used to define, modify, and delete database objects, and are essential for managing the structure of a database. The CREATE statement is used to create new database objects, the DROP statement is used to delete them, the ALTER statement is used to modify their structure, and the TRUNCATE statement is used to delete data from tables without deleting the tables themselves.

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate the data stored in the database. DML statements are used to insert, update, retrieve, and delete data from a table. Here are some common DML statements and their uses:

1. `INSERT:`
The INSERT statement is used to insert new data into a table. For example, to insert a new record into the "customers" table created in the previous example, you could use the following INSERT statement:

INSERT INTO customers (id, name, email) VALUES (1, 'John Smith', 'john.smith@example.com');

2. `UPDATE:`
The UPDATE statement is used to modify existing data in a table. For example, to update the email address of the customer with id 1 in the "customers" table, you could use the following UPDATE statement:

UPDATE customers SET email = 'john.smith.updated@example.com' WHERE id = 1;

3. `DELETE:`
The DELETE statement is used to delete data from a table. For example, to delete the customer with id 1 from the "customers" table, you could use the following DELETE statement:

DELETE FROM customers WHERE id = 1;

In summary, DML statements are used to manipulate the data stored in a database. The INSERT statement is used to add new data to a table, the UPDATE statement is used to modify existing data in a table, and the DELETE statement is used to remove data from a table. These statements are essential for managing the content of a database and allowing users to interact with the data stored in it.

## Q4. What is DQL? Explain SELECT with an example.

- DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL statements are used to retrieve data from one or more tables and display the results to the user. The most commonly used DQL statement is the SELECT statement. Here is an example of how to use the SELECT statement to retrieve data from a table:

Suppose we have a table named "customers" with the following data:

id | name        | email
---+-------------+-------------------------
1  | John Smith  | john.smith@example.com
2  | Jane Doe    | jane.doe@example.com
3  | Bob Johnson | bob.johnson@example.com

To retrieve all the data from the "customers" table, you could use the following SELECT statement:

SELECT * FROM customers;

The asterisk (*) in the SELECT statement indicates that we want to retrieve all columns from the "customers" table. This would result in the following output:

id | name        | email
---+-------------+-------------------------
1  | John Smith  | john.smith@example.com
2  | Jane Doe    | jane.doe@example.com
3  | Bob Johnson | bob.johnson@example.com

We could also retrieve specific columns by listing them after the SELECT statement. For example, to retrieve only the "id" and "name" columns from the "customers" table, you could use the following SELECT statement:

SELECT id, name FROM customers;

This would result in the following output:

id | name
---+-------------
1  | John Smith
2  | Jane Doe
3  | Bob Johnson

In summary, the SELECT statement is used to retrieve data from one or more tables in a database. The asterisk (*) indicates that we want to retrieve all columns from a table, while listing specific columns after the SELECT statement allows us to retrieve only the data we need.

## Q5. Explain Primary Key and Foreign Key.

A primary key and foreign key are both used to establish relationships between tables in a relational database. Here's a brief explanation of each:

1. `Primary Key:`
A primary key is a column or set of columns in a table that uniquely identifies each row in that table. Primary keys are used to enforce the integrity of the data in the table, as well as to establish relationships between tables. Each table can have only one primary key, and it cannot contain null values. Here's an example:
Suppose we have two tables, "customers" and "orders." The "customers" table has a primary key on the "id" column, and the "orders" table has a foreign key on the "customer_id" column. This allows us to establish a one-to-many relationship between the two tables, where each customer can have multiple orders. The primary key in the "customers" table ensures that each row is uniquely identified, while the foreign key in the "orders" table references the primary key in the "customers" table to establish the relationship between the two tables.

2. `Foreign Key:`
A foreign key is a column or set of columns in a table that refers to the primary key of another table. Foreign keys are used to establish relationships between tables, and they ensure that the data in one table is consistent with the data in another table. The foreign key column must contain only values that exist in the primary key of the other table. Here's an example:
Suppose we have two tables, "orders" and "products." The "orders" table has a foreign key on the "product_id" column, which references the primary key on the "id" column in the "products" table. This allows us to establish a one-to-many relationship between the two tables, where each order can have only one product. The foreign key in the "orders" table ensures that each "product_id" value corresponds to a valid "id" value in the "products" table.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

# Connect to MySQL
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# Create a cursor object
mycursor = mydb.cursor()

# Execute a SQL query
mycursor.execute("SELECT * FROM customers")

# Fetch all the rows from the query result
result = mycursor.fetchall()

# Print the rows
for row in result:
  print(row)

In the above code, we first import the mysql.connector library and then use it to connect to a MySQL database using the connect() method. We pass the host, user, password, and database name as parameters to this method.

Next, we create a cursor object using the `cursor()` method on the connection object. A cursor object allows us to execute SQL queries and retrieve results from the database.

We then use the `execute()` method on the cursor object to execute a SQL query. In this case, we are selecting all the rows from the "customers" table.

After executing the query, we use the fetchall() method on the cursor object to retrieve all the rows from the query result. The rows are returned as a list of tuples.

Finally, we iterate over the rows and print them one by one.

In summary, the `cursor()` method creates a cursor object that allows us to execute SQL queries on the database, and the `execute()` method on the cursor object is used to execute a SQL query.

## Q7. Give the order of execution of SQL clauses in an SQL query.

In an SQL query, the clauses are executed in the following order:

1. FROM: This clause specifies the table or tables from which to retrieve data.

2. WHERE: This clause is used to filter the data based on one or more conditions.

3. GROUP BY: This clause is used to group the data based on one or more columns.

4. HAVING: This clause is used to filter the grouped data based on one or more conditions.

5. SELECT: This clause is used to select the columns to retrieve from the table.

6. DISTINCT: This clause is used to remove duplicate rows from the query result.

7. ORDER BY: This clause is used to sort the data based on one or more columns.

8. LIMIT: This clause is used to limit the number of rows returned by the query.

---

Created By -> Debabrata